body {
  background-color: #52e368
}

h1 {
  color: #e352e1;
  text-align: center;
  position: absolute;
  font-family: "Courier New";
  font-size: xx-large;
  top: 0.5vh;
  left: 1vw;
  filter: drop-shadow(blue 0.1rem 0.1rem 2px);
  
}

h2 {
  color: #52e368;
  text-align: center;
  position: absolute;
  font-family: "Courier New";
  font-size: large;
  top: 5vh;
  left: 1vw;
  filter: drop-shadow(blue 0.1rem 0.1rem 2px);

}

p {
  font-family: verdana;
  font-size: 20px;
}

#myCoolRenderer 
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    z-index: -1;
    filter: drop-shadow(#52e3cd -5px -5px 2px) drop-shadow(#e35252 5px 5px 2px);

}

/* 
------- my colors: -------
*/

#redy
{
    color: #e35252
}

#greeny
{
    color: #52e368
}

/* gradient pink: */

#purple
{
    color: #e352e1
}

#pinky
{
    color: #ff50b1
}

#purplange
{
    color: #ff7383
}

#orange
{
    color: #ffa261
}

#yellorange
{
    color: #ffd057
}

#yellow
{
    color: #f9f871
}